/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.game-container {
    padding: 20px;
}

.menu {
    margin-bottom: 20px;
}

.menu-btn {
    width: 200px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.menu-btn:active {
    background-color: #ff9900;
}

.activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-btn {
    width: 150px;
    height: 165px;
    margin: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border: 3px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-btn img {
    max-width: 90%;
    max-height: 90%;
}

.item-btn:active {
    background-color: #f0f0f0;
    border: 3px solid #ff9900;
}

.install {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.install-btn {
    width: 200px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.install-btn:active {
    background-color: #ff9900;
}
