/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.game-container {
    padding: 20px;
}

.menu {
    margin-bottom: 20px;
}

.menu-btn {
    width: 200px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1.2s ease-in-out;
}

.menu-btn:active {
    background-color: #ff9900;
}

.activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}






.item-btn {
    width: 150px;
    height: 165px;
    margin: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border: 3px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.item-btn img {
    max-width: 85%;
    max-height: 85%;
}

.text-container {
    width: 100%;
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: #ff9900;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    text-align: center;
}

.text {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    will-change: transform;
    padding-right: 20px; /* Adds spacing between repeated text */
}

/* Continuous marquee effect */
.marquee {
    /*display: flex;*/
    animation: marquee 5s linear infinite;
}

/* Keyframes for continuous scrolling */
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.item-btn:hover {
    background-color: #f0f0f0;
    border: 5px solid #ff9900;
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(255, 153, 0, 0.5);
}






.install {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.install-btn {
    width: 200px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.install-btn:hover {
    background-color: #ff9900;
}
